<%= form_for @project, remote: true do |project| %>
  <div>
    <%= project.label :description %>
    <%= project.text_field :description %>
  </div>
  <div>
    <%= project.submit %>
  </div>
<% end %>
