<article id = <%= project.id %>>
  <h1>
    <%= link_to project.description, project_path(id: project.id) %>
  </h1>
  <section class = 'controls'>
    <%= link_to "Delete", project_path(id: project.id), method: :delete, id: "#{project.id}", class: 'control' %>
  </section>
</article>
