<section class = 'articles'>
  <header>
    <h1>Projects I've Worked On</h1>
  </header>
  <% @projects.each do |project| %>
    <%= render 'project', project: project %>
  <% end %>
</section>
<section class = 'controls'>
  <%= link_to 'Add a Project', new_project_path, remote: true, id: :new_link %>
</section>
