<section class = 'project'>
  <header>
    <h1>Create a new project</h1>
  </header>
  <%= render 'form' %>

  <section class = 'controls'>
    <%= link_to 'Return to projects', projects_path, class: 'control' %>
  </section>
</section>
