<div class = 'row'>
  <div class = 'small-8 small-offset-2 columns'>
    <h1>Edit <%= @post.title %></h1>
  </div>

  <%= render 'form' %>

  <div class = 'small-8 small-offset-2 columns'>
    <%= link_to 'Return to Posts', posts_path, method: :get %>
  </div>
</div>
