<section class = 'articles'>
  <header>
    <h1>Create a new post</h1>
  </header>
  <%= render 'form' %>

  <section class = 'controls'>
    <%= link_to 'Return to posts', posts_path, method: :get, class: 'control' %>
  </section>
</section>
